.bucketlist-card{
    box-shadow: 0px 2px 7px #888888;
    min-height: 200px;
    padding: 5px 0px 0px 5px;
    margin-top: 30px;
}
.strip-button{
    background-color: #fff;
    padding: 0px;
    border: 0px;
}
.strip-input{
    width: 100%;
    border: 0px;
}
.text-large{
    font-size: 30px;
    font-weight: 500;
}
.yolo-footer{
    background-color: #ddd;
    padding: 10px;
    margin-top: 15px;
}
.trim-div{
    height: 350px;
    overflow: hidden;
}
