 <div class="row">
        <div class="col-md-12 text-center">
            <span role="button" class="text-primary" ng-click="goToDashboard()">Back to dashboard</span>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="text-center">
                    <h3>{{ totalResults }} results for '{{ searchTerm }}'</h3>
                </div>
                <div class="col-md-4" ng-repeat="bucketlist in bucketlists">
                    <div class="bucketlist-card">
                        <a ng-href="#!/viewbucketlist/{{ bucketlist.id }}"><h3>{{ bucketlist.name | capitalize }}</h3></a>
                        <ul>
                            <li ng-repeat="item in bucketlist.items">{{ item.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="totalPages">
            <div class="col-md-12 text-center">
                <p class="text-primary">Showing page {{ currentPage }} of {{ totalPages }}</p>
                <button class="btn btn-default" ng-repeat="page in pagesButtons" ng-click="getPage(page);">{{ page }}</button>
            </div>
        </div>
 </div>
