<nav class="navbar navbar-inverse" ng-controller="NavCtrl">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="!#/">{{ appName | capitalize }}</a>
                </div>
                <div class="collapse navbar-collapse" id="yolo-navbar">
                  <ul class="nav navbar-nav">
                    <!-- List of navigations-->
                  </ul>
                    <ul class="nav navbar-nav navbar-right" ng-show="userName">
                        <li style="cursor:pointer" ng-click="goToDashboard();"><a>Dashboard</a></li>
                        <li style="cursor:pointer" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{ userName | capitalize }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a ng-click="logout();">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
              </div>
        </nav>
<div class="row">
    <div class="col-md-12 text-center">
        <span role="button" class="text-primary" ng-click="goToDashboard()">Back to dashboard</span>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <p class="text-success text-center" style="padding:15px" ng-repeat="error in errors.bucketlistErrors">{{ error }}</p>
        <div class="bucketlist-card" ng-hide="!isBucketlistPresent">
            <p class="text-large text-capitalize" ng-bind="bucketlist.name"></p>
            <div ng-repeat="item in bucketlist.items">
                <p ng-show="item">
                    <button class="btn btn-sm btn-default" ng-click="showEditBox(item.id, $index);"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-sm btn-danger" ng-click="setActiveItem(item.id, $index);" data-toggle="modal" data-target="#delete-item-modal"><i class="glyphicon glyphicon-white glyphicon-trash"></i></button>
                    <button class="btn btn-sm btn-success" ng-show="item.done"><i class="glyphicon glyphicon-white glyphicon-ok"></i> Done</button>
                    <button class="btn btn-sm btn-danger" ng-show="!item.done"><i class="glyphicon glyphicon-white glyphicon-remove"></i> Not done </button>
                    {{ item.name | capitalize }}
                </p>
                <div>
                <form class="navbar-form hidden" id="item-{{ item.id }}">
                    <label class="text-muted"><input type="checkbox" name="item-edit-done" id="item-edit-done-{{ item.id }}"> Mark as done</label>
                    <div class="input-group">
                        <input class="form-control" id="new-name-{{ item.id }}" />
                        <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" ng-click="editItem(item.id, $index);">Change</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <p class="text-danger" style="padding:15px" ng-repeat="error in errors.itemName">{{ error }}</p>
            <form class="navbar-form">
                <div class="input-group">
                    <input class="form-control" placeholder="Add item" name="add-item" id="add-item" type="text" ng-model="newItemName">
                    <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="addNewItem();">Add</button>
                    </div>
                </div>
            </form>
            <p class="text-info" style="font-size: 11px"><i>Created: {{ bucketlist.date_created | date }}</i></p>
            <p class="text-info" style="font-size: 11px"><i>Modified: {{ bucketlist.date_modified |date }}</i></p>
            <button class="strip-button text-primary" ng-click="toggleEditBucketlistForm();">Edit this bucketlist</button><br>
            <p class="text-danger" ng-repeat="error in errors.bucketlistEditErrors">{{ error }}</p>
            <form class="navbar-form" ng-show="showEditBucketlistForm">
                <div class="input-group">
                    <input class="form-control" placeholder="Edit bucketlist" name="edit-bucketlist" id="edit-bucketlist" type="text" ng-model="newBucketlistName">
                    <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="editBucketlistName();">Edit</button>
                    </div>
                </div>
            </form>
            <button class="strip-button text-danger" data-toggle="modal" data-target="#delete-bucketlist-modal">Delete this bucketlist</button>
        </div>
    </div>
    <!--modals-->
    <!--Delete bucketlist modal-->
    <div id="delete-bucketlist-modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Confirm delete</h5>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this bucketlist?</p>
              <p class="txt-danger" ng-bind="deleteMessage"></p>
              <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteBucketlist();">Yes, delete</button>
              <button class="btn btn-default" data-dismiss="modal">No, don't delete</button>
          </div>
        </div>

      </div>
    </div>
    <!-- Dynamic delete item modal-->
     <div id="delete-item-modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Confirm delete</h5>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this item?</p>
              <p class="text-danger" ng-bind="itemDeleteError"></p>
              <p class="text-success" ng-bind="itemDeleteSuccess"></p>
              <button class="btn btn-danger" ng-click="deleteChosenItem();">Yes, delete</button>
              <button class="btn btn-default" data-dismiss="modal">No, don't delete</button>
          </div>
        </div>

      </div>
    </div>
    <!--end modals-->
</div>
